In [38]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [45]:
datos1 = pd.read_csv('/Pesajes - Pesajes.csv')

In [53]:
datos1

   Edad  Genero  Altura
0     1       1      71
1     6       1     106
2    12       1     137
3    18       1     170
4     1       0      68
5     6       0     106
6    12       0     140
7    18       0     155

In [49]:
X = datos1.drop(columns ='Altura')

In [50]:
y=datos1['Altura']

In [59]:
modelo = DecisionTreeClassifier()
modelo.fit(X,y)
prediccion = modelo.predict([[18,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [60]:
prediccion

array([170])

In [61]:
modelo.fit(Edad,Genero)

ValueError: ignored

In [64]:
Edad = int(input("Ingresar edad: "))
Genero = int(input("Ingresar genero: 0(Femenito) / 1(Masculino) "))
prediccion2 = modelo.predict([[Edad,Genero]])
prediccion2

Ingresar edad: 14
Ingresar genero: 0(Femenito) / 1(Masculino) 0

array([140])

In [42]:
datos1 = pd.read_csv('/Pesajes.csv')